/client/cas2/kap_img/
/client/cas2/passwordEnc.txt
/client/cas2/qrcode.png
/client/cas2/WXQrcode.png
/client/cas2/h2.html
/client/cas2/html.txt
/logs/
/config.json
/school_sdk.exe
/SMTP.json
/startTime.json
/want.xlsx
